In [1]:
import numpy as np 
import pandas as pd
import struct
from typing import List

In [2]:
def read_files(working_dir, file_name):
    
    with open(working_dir +f"moldata-{file_name}-sizes.dat", "rb") as size_file:
        size = size_file.read()
    with open(working_dir +f"moldata-{file_name}-atomids.dat", "rb") as binary_file:
        atom_id = binary_file.read()
        atom_ids = struct.unpack("b" * len(atom_id), atom_id)
    with open(working_dir +f"moldata-{file_name}-energies.dat", "rb") as energy_file:
        energies = energy_file.read()
        energy = struct.unpack("f" * ((len(energies)) // 4), energies)
    coordinates = []
    with open(working_dir +f"moldata-{file_name}-coords.dat", "rb") as coordinates_file:
        while True:
            coord = coordinates_file.read(12) #reading 12 bytes at a time to extract the starting 3 coordinate of 1 atom
            if not coord: break
            coord = struct.unpack('f'*3, coord)
            coordinates.append(coord)
            
    return size, atom_ids, energy, coordinates

In [3]:
size_1, atom_ids_1 ,energy_1 , coordinates_1 = read_files(r"C:\Users\Kamal Maurya\Downloads\Halion Take-Home Coding Assignment V2\\", 0)

In [4]:
size_2, atom_ids_2 ,energy_2 , coordinates_2 = read_files(r"C:\Users\Kamal Maurya\Downloads\Halion Take-Home Coding Assignment V2\\", 1)

In [5]:
size_3, atom_ids_3 ,energy_3 , coordinates_3 = read_files(r"C:\Users\Kamal Maurya\Downloads\Halion Take-Home Coding Assignment V2\\", 2)

In [6]:
def get_coordinate_for_molecule(mol_index, size, coordinates):
        
    if mol_index ==1:
        return coordinates[:size[1]]
    else:
        starting_element = 0
        ending_ele = 0
        for i in range(mol_index):
            starting_element +=size[i]

        ending_ele = size[mol_index]+starting_element

        return coordinates[starting_element:ending_ele]

In [7]:
coordinates_f1 = []
for i in range(len(size_1)):
    coord = get_coordinate_for_molecule(i, size_1, coordinates_1)
    coordinates_f1.append(coord)

In [8]:
coordinates_f2 = []
for i in range(len(size_2)):
    coord = get_coordinate_for_molecule(i,size_2, coordinates_2 )
    coordinates_f2.append(coord)

In [9]:
coordinates_f3 = []
for i in range(len(size_3)):
    coord = get_coordinate_for_molecule(i, size_3, coordinates_3)
    coordinates_f3.append(coord)

In [10]:
size_1 = struct.unpack("b" * len(size_1), size_1)
size_2 = struct.unpack("b" * len(size_2), size_2)
size_3 = struct.unpack("b" * len(size_3), size_3)

In [11]:
coordinates_1 = np.array(coordinates_f1)

C:\Users\Kamal Maurya\AppData\Local\Temp\ipykernel_19588\3968371759.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  coordinates_1 = np.array(coordinates_f1)

In [12]:
coordinates_2 = np.array(coordinates_f1)

C:\Users\Kamal Maurya\AppData\Local\Temp\ipykernel_19588\1648578977.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  coordinates_2 = np.array(coordinates_f1)

In [13]:
coordinates_3 = np.array(coordinates_f3)

C:\Users\Kamal Maurya\AppData\Local\Temp\ipykernel_19588\436162069.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  coordinates_3 = np.array(coordinates_f3)

In [14]:
coordinates_2.shape

(65536,)

In [7]:
def get_atom_ids(mol_index, size, atom_ids):

   
    if mol_index == 1:
        return atom_ids[:size[1]]
    
    else:
        starting_element = 0
        ending_ele = 0
        for i in range(mol_index):
            starting_element +=size[i]

        ending_ele = size[mol_index]+starting_element

    return atom_ids[starting_element:ending_ele]

In [16]:
atom_ids

NameError: name 'atom_ids' is not defined

In [17]:
atom_id_f1 = []
for i in range(len(size_1)):
    ids = get_atom_ids(i, size_1, atom_ids_1)
    atom_id_f1.append(ids)

In [18]:
atom_id_f2 = []
for i in range(len(size_2)):
    ids = get_atom_ids(i, size_2,atom_ids_2)
    atom_id_f2.append(ids)

In [19]:
atom_id_f3 = []
for i in range(len(size_3)):
    ids = get_atom_ids(i, size_3,atom_ids_3)
    atom_id_f3.append(ids)

In [20]:
atom_id_1 = np.array(atom_id_f1, dtype=object)
atom_id_2 = np.array(atom_id_f2, dtype=object)
atom_id_3 = np.array(atom_id_f3, dtype=object)

In [ ]:
len(atom_id_1[1])

In [21]:
size_1 = np.array(size_1)
size_2 = np.array(size_2)
size_3 = np.array(size_3)

In [22]:
d1 = {'size': size_1, 'atoms' : atom_id_1, 'coordinates' : coordinates_1, 'energies' : energy_1}
d2 = {'size': size_2, 'atoms' : atom_id_2, 'coordinates' : coordinates_2, 'energies' : energy_2}
d3 = {'size': size_3, 'atoms' : atom_id_3, 'coordinates' : coordinates_3, 'energies' : energy_3}

In [23]:
df1 = pd.DataFrame(data=d1)
df2 = pd.DataFrame(data=d2)
df3 = pd.DataFrame(data=d3)

In [24]:
frames = [df1,df2,df3]
df = pd.concat(frames, ignore_index=True)

In [8]:
df = pd.read_csv('data.csv')

In [ ]:
df = df.sample(frac = 1)

In [10]:
df

,Unnamed: 0,size,atoms,coordinates,energies
0,0,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
1,1,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
2,2,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
3,3,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
4,4,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
...,...,...,...,...,...
196603,196603,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
196604,196604,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
196605,196605,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
196606,196606,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039
196607,196607,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...","[(2.5634765625, 4.06494140625, 0.92529296875),...",50.498039

In [ ]:
df = df.set_index(['size']).apply(pd.Series.explode)

In [28]:
#exploding coordinates of molecules
df = df.explode('coordinates')

In [36]:
#exploding coordinates of molecules
df = df.explode('coordinates')

In [37]:
df

,size,atoms,coordinates,energies
0,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",2.563477,50.498039
0,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",4.064941,50.498039
0,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",0.925293,50.498039
0,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",2.282715,50.498039
0,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",3.10791,50.498039
...,...,...,...,...
196607,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",-1.70166,50.498039
196607,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",-2.038574,50.498039
196607,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",-1.638184,50.498039
196607,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",-2.573242,50.498039
196607,48,"(2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, ...",-0.656738,50.498039

In [43]:
y  = df.energies

In [38]:
feature = ['size', 'coordinates']

In [39]:
X = df[feature]

In [40]:
X.head()

   size coordinates
0    48    2.563477
0    48    4.064941
0    48    0.925293
0    48    2.282715
0    48     3.10791

In [44]:
#model 
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state=1)

model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [46]:
from sklearn.metrics import mean_absolute_error
predicted_energies = model.predict(X)
mean_absolute_error(y, predicted_energies)

2.346800186230339

In [ ]:
predicted_energies()

In [47]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0, test_size=0.20 )
# Define model
model = DecisionTreeRegressor()
# Fit model
model.fit(train_X, train_y)

# get predicted prices on validation data
energies_predict = model.predict(val_X)
print(mean_absolute_error(val_y, energies_predict))

2.345444961853267

        size coordinates
39282     44   -4.169922
67386     22   -0.437012
50205     44   -3.669434
180851    39    6.359863
189231    48   -1.025391
...      ...         ...
102654    43    1.655273
140624    43    0.610352
23612     50    5.432129
70556     22    3.981934
91606     53    2.617188

[5192400 rows x 2 columns]